@import "src/styles/variables";

.chatContent {
  flex: 1 1 0;
  margin: 0;

  position: relative;
  display: flex;
  flex-direction: column-reverse;

  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;

  padding: 20px 30px;
  padding-right: 36px;

  box-shadow: 0px 1px 5px -2px black inset;

  background-color: #dcdcdc;
  @include stripes(#dcdcdc, #d6d6d6, 50px);

  ul {
    margin: 0;
    padding: 0;

    // Firefox specific fix for scrolling issue with overflow-anchor
    @include firefoxOnly {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 30px 20px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      li {
        overflow-anchor: none;
      }

      &:before {
        content: "";
        overflow-anchor: none;
        min-height: 1px;
        flex: 1 1 0;
        display: block;
      }

      &:after {
        content: "";
        overflow-anchor: auto;
        height: 10px;
        flex: 0 0 auto;
        display: block;
      }
    }
  }

  @include darkMode {
    background-color: #232935;
    @include stripes(#232935, #252c38, 50px);
  }
}

.chatInputSection :global {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px;
  box-shadow: 0px 7px 12px 2px black;
  border-top: 1px solid transparent;
  background: #e7e7e7;

  @include darkMode {
    background: #232935;
  }

  textarea {
    flex: 1 1 0;
    padding: 10px 16px;
    margin-right: 10px;

    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 24px;

    box-sizing: border-box;
    outline: none;
    resize: none;
    overflow-y: auto;
    overflow-y: overlay;
    height: 44px;
    min-height: 44px;
    max-height: 100px;

    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 7px -1px black;
  }

  button {
    appearance: none;
    outline: none;
    border-radius: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
    width: 48px;
    height: 48px;

    &:focus {
      background: rgba(#000000, 0.05);
    }

    &:hover {
      background: rgba(#000000, 0.1);
    }

    &:active {
      background: rgba(#000000, 0.2);
    }

    img {
      width: 36px;
      height: 36px;
      pointer-events: none;
      vertical-align: middle;

      @include darkMode {
        filter: invert(1) drop-shadow(2px 4px 4px black);
      }
    }
  }
}
