$st1: #dcdcdc;
$st2: #d6d6d6;

$dst1: #232935;
$dst2: #252c38;

.chatContent {
  flex: 1 1 0;
  margin: 0;

  display: flex;
  flex-direction: column-reverse;

  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;

  padding: 20px 30px;
  padding-right: 36px;

  box-shadow: 0px 1px 5px -2px black inset;

  background: #dcdcdc;
  background: linear-gradient(45deg, $st1 25%, $st2 25%, $st2 50%, $st1 50%, $st1 75%, $st2 75%);
  background-size: 50px 50px;

  ul {
    margin: 0;
    padding: 0;
  }

  :global(.app-root.dark) & {
    background: #232935;
    background: linear-gradient(45deg, $dst1 25%, $dst2 25%, $dst2 50%, $dst1 50%, $dst1 75%, $dst2 75%);
    background-size: 50px 50px;
  }
}

.chatInputSection :global {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px;
  box-shadow: 0px 7px 12px 2px black;
  border-top: 1px solid transparent;
  background: #e7e7e7;

  :global(.app-root.dark) & {
    background: #232935;
  }

  textarea {
    flex: 1 1 0;
    padding: 10px 16px;
    margin-right: 10px;

    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 24px;

    box-sizing: border-box;
    outline: none;
    resize: none;
    overflow-y: auto;
    overflow-y: overlay;
    height: 44px;
    min-height: 44px;
    max-height: 100px;

    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 7px -1px black;
  }

  button {
    appearance: none;
    outline: none;
    border-radius: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
    width: 48px;
    height: 48px;

    &:focus {
      background: rgba(#000000, 0.05);
    }

    &:hover {
      background: rgba(#000000, 0.1);
    }

    &:active {
      background: rgba(#000000, 0.2);
    }

    img {
      width: 36px;
      height: 36px;
      pointer-events: none;
      vertical-align: middle;

      :global(.app-root.dark) & {
        filter: invert(1) drop-shadow(2px 4px 4px black);
      }
    }
  }
}
