.nav :global {
  background: white;
  box-shadow: 0 2px 6px -2px black;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: left;

  a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    margin: 0 10px;
    flex: 1 1 0;
    max-width: 150px;

    display: inline-block;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    text-align: center;

    &.active {
      background: #a0a0a0;
    }
  }

  @media only screen and (max-width: 640px) {
    justify-content: center;

    a {
      max-width: initial;
    }
  }
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:global(.app-root.light) {
  color: #434450;
}

:global(.app-root.dark) {
  background: #232935;
  color: #f1f1f1;

  input,
  textarea,
  select {
    background: #3a3d4a;
    color: white;
  }
}
